*,
*::before,
*::after {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	height: 100%;
	color: rgb(54, 51, 51);
}

.container {
	padding: 2rem;
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

.img {
	text-align: center;
	margin: 2.8rem 0;
}

img {
	border-radius: 50%;
}

/* === main === */
section {
	margin: 2.8rem 0;
}

.sub-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

.sub-heading h2 {
	margin-right: 0.4rem;

	max-width: 55%;
}

hr {
	width: 40%;

	height: 3px;

	border: 2px solid #333;
}

div {
	margin: 2rem 0;
}

p {
	text-align: justify;
}

h3 {
	margin: 0.8rem 0;
}

h3 ~ p:nth-child(2) {
	margin: 0.4rem 0;
}

.course div {
	margin: 2rem 0;
}

.phone > h3,
.email > h3,
.home > h3,
.dob > h3,
.visa > h3,
.marital-status > h3,
.driving-license > h3,
.behance > h3,
.facebook > h3,
.linkedin > h3,
.instagram > h3 {
	margin: 0.04rem 0;
}

a {
	text-decoration: none;

	color: rgb(54, 51, 51);
}

/* === footer === */
footer {
	width: 100%;
	height: 100px;

	background-color: #dcdcdc;

	margin-top: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	font-size: 1.2rem;
	color: #362b32;
}

/* === media queries === */
@media (min-width: 850px) {
	body {
		margin-top: 5rem;

		height: 100%;

		font-size: 1.6rem;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 250px 2fr 20px;

		gap: 4rem;

		padding: 2rem 1.6rem;
	}

	.main {
		order: 2;

		grid-column: 2/-1;
		grid-row: 1/3;
	}

	aside {
		order: 1;

		grid-column: 1/2;
		grid-row: 2/3;

		background-color: #dcdcdc;

		color: rgb(54, 51, 51);

		padding: 2rem;
	}

	.img {
		grid-column: 1/2;
		grid-row: 1/2;

		justify-self: start;
		align-items: start;
		align-self: start;

		margin: 0;
	}

	section {
		margin: 0;
	}

	footer {
		grid-column: 1/-1;
		grid-row: 3 /-1;

		margin-top: 0;
	}
}
