*,
*::before,
*::after {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
}

.container {
	padding: 2rem 2.4rem;

	width: 90%;
	max-width: 120rem;

	margin: 0 auto;
}

.img {
	text-align: center;

	margin: 2.8rem 0;
}

img {
	border-radius: 50%;
}

.developer {
	text-align: center;
}

section {
	margin: 2.8rem 0;
}

.sub-heading {
	max-width: 100%;

	display: flex;

	/* text-align: end; */

	/* flex-direction: column; */

	justify-content: space-between;
}

.sub-heading h2 {
	margin-right: 0.4rem;

	max-width: 30%;
}

hr {
	width: 65%;

	height: 3px;

	align-self: center;
	border: 2px solid #b8b8b8;

	/* border: none; */
	/* color: #222; */
}

div {
	margin: 2rem 0;
}

p {
	text-align: justify;
}

h3 {
	margin: 0.8rem 0;
}

h3 ~ p:nth-child(2) {
	margin: 0.4rem 0;

	border: 2px solid green;
}
