#slider {
	position: relative;

	width: auto;
	height: 600px;

	overflow: hidden;
}

.slide {
	display: none;

	position: absolute;

	width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* transform: ease in 1s; */
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	/* background-color: rgba(0, 0, 0, 0.5); */
	background-color: rgba(255, 255, 255, 0.64);
	/* color: white; */
	color: black;
	border: none;
	padding: 1.2rem 1.6rem;
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

p {
	margin-top: 2rem;
}
