/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: rgb(249 250 251);
	--text-color: rgb(17 24 39);
}

body {
	font-family: "Raleway", Arial, sans-serif;
}

.container {
}

main {
}
