*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

.inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#score,
button {
	width: 100%;
	margin: 1.2rem 0;
	padding: 2rem;
	font-size: 1.6rem;
}

#score {
	text-align: center;
}

button {
	cursor: pointer;
}

.output {
	margin: 3rem 0;
	font-size: 3rem;
	color: red;
	text-align: center;
}
