* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color-0: #c026d3;
	--primary-color-100: #701a75;
	--secondary-color: #8c8c8c;
	--blue-gray: #404040;
	--white: #fff;
	--tertiary-color: #d9d9d9;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;

	max-width: 100%;
	width: 100%;

	background-color: #fdfdfd;
}

header,
section {
	width: 90%;
	max-width: auto;

	margin: 3rem auto;
}

section {
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-between;

	font-size: 2.4rem;
}

nav ul {
	visibility: hidden;
	display: none;
}

header + img {
	width: 100%;

	padding: 0.2rem;
}

section img {
	width: 100%;
}

/* header */
.logo {
	font-weight: 800;
}

p span,
.nav-icon {
	background-image: linear-gradient(
		135deg,
		var(--primary-color-0) 5%,
		var(--primary-color-100) 30%
	);

	background-clip: text;
	color: transparent;
}

.nav-icon {
	cursor: pointer;
}

/* hero */

.hero-section {
	text-align: center;
}

.hero-img {
	width: 100%;
}

.mobile-hero {
	width: 100%;

	margin: 0 auto;
}

h1 {
	font-size: 2.8rem;

	background-image: linear-gradient(
		135deg,
		var(--primary-color-0) 5%,
		var(--primary-color-100) 30%
	);

	background-clip: text;
	color: transparent;

	font-weight: 800;
	margin: 2rem 0;

	letter-spacing: 0.04rem;
}

h1 + p {
	font-size: 1.6rem;
}

form {
	width: 100%;

	display: flex;
	justify-content: space-between;

	margin: 2rem 0;
}

form input {
	border-radius: 20px;

	padding: 1.2rem 1.6rem;
	font-size: 1.6rem;

	outline: none;

	border: 1px solid var(--tertiary-color);
}

input[type="text"] {
	width: 70%;
}

input[type="button"] {
	color: var(--white);
	font-weight: 700;
	border: none;
	cursor: pointer;

	background-color: var(--primary-color-100);
}

/* body*/
.mobile-body-img {
	width: 100%;
}

h2 {
	font-size: 2.4rem;

	background-image: linear-gradient(
		135deg,
		var(--primary-color-0) 5%,
		var(--primary-color-100) 30%
	);

	background-clip: text;
	color: transparent;

	font-weight: 800;
	margin: 1.2rem 0;

	letter-spacing: 0.04rem;
}

h2 + p {
	font-size: 1.6rem;
	margin: 2.4rem 0;
	/* text-align: justify; */
	word-spacing: 0.04rem;
	/* word-wrap: break-word; */

	color: var(--blue-gray);
}

section button {
	color: var(--white);
	font-weight: 700;
	border: none;
	padding: 1.2rem 1.6rem;
	font-size: 1.6rem;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	border: none;

	background-color: var(--primary-color-100);
}

/* gallery */
.gallery {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	align-items: center;
}

/* img div container */
.img {
	margin: 2rem 0;

	border: 2px solid var(--tertiary-color);
	background-color: var(--white);

	border-radius: 2rem;

	font-size: 2rem;
}

/* 1st img */
.img img {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;

	height: 40rem;

	object-fit: cover;
}

/* inner div container */
img + div {
	display: flex;
	align-items: center;

	padding: 2rem;

	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

/* inner inner div container */
img + div div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* 2nd img */
.img div img {
	/* border: 2px solid red; */
	display: block;

	width: 7.2rem;
	height: 7.2rem;

	border-radius: 50%;
	object-fit: cover;

	border: none;

	outline: none;

	margin-right: 2rem;

	/* width: 0.2rem; */
}

span + div p:first-child {
	margin: 0.4rem 0;

	font-size: 2.4rem;
}

/* what others says */

h2 + div {
	border: 2px solid green;
	padding: 2rem;
}

h2 + div p:first-child {
	margin: 2rem 0;
}

h2 + div p:last-child {
	margin: 2rem 0;
}

h2 + div img {
	width: 4.4rem;
	height: 4.4rem;

	border-radius: 50%;
	object-fit: cover;

	margin-top: 2rem;
	margin-bottom: 1.6rem;
}

/* favorite tools */
.grids {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.grid {
	margin: 2.4rem 0;
}

.grid i {
	/* font-weight: 300; */

	font-size: 4rem;

	outline: none;

	margin: 1.2rem 0;

	color: var(--primary-color-100);

	/* border: 2px solid green; */
}

.grid h4 {
	margin: 1.2rem 0;

	font-size: 2.8rem;
}

.grid p {
	font-size: 2rem;
}

/* media queries */
@media (min-width: 480px) {
	.container {
		width: 100%;
		max-width: 450px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
		max-width: 750px;
	}

	ul {
		visibility: visible;
		display: inline-block;
	}

	.nav-icon {
		display: none;
		visibility: hidden;
	}
}

@media (min-width: 1024px) {
	.container {
		width: 100%;
		max-width: 1000px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
		max-width: 1000px;
	}

	.mobile-hero {
		visibility: hidden;
	}

	.hero {
		border: 5px solid green;
		background-image: url("./resources/desktop/desktop_hero.png");

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mobile-body-img {
		visibility: hidden;
	}

	.body-img {
		border: 5px solid red;

		background-image: url("./resources/desktop/body.png");

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
