@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--green: hsl(75, 94%, 57%);

	--white: hsl(0, 0%, 100%);

	--grey-700: hsl(0, 0%, 20%);
	--grey-800: hsl(0, 0%, 12%);
	--grey-900: hsl(0, 0%, 8%);
}

html {
	font-size: 62.5%;

	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #2c2b2b;
}

.container {
	width: 80%;
	max-width: 70rem;
	height: 100vh;

	margin: 0rem auto;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid green;
	background-color: #4d4b4b;
}

main {
	/* background-color: #4d4b4b; */
}
